@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,500;6..72,600&display=swap");
body {
  /* font-family: "Newsreader", serif; */
  transition: 0.5s background ease;
  background-color: #f6f7fb;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.custom {
  padding: 0 100px;
}
:root {
  --background: #000;
  --text: #fff;
  --highlight: #4687ff;
}

ul {
  display: flex;
  list-style-type: none;
}
ul a {
  margin: 5px 10px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}
ul a:before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 85%;
  height: 3px;
  background: var(--highlight);
  transform: translateX(-100%);
  opacity: 0;
}
ul a:hover:before {
  opacity: 1;
  transition: 0.5s transform ease, 0.8s opacity ease;
  transform: translateX(0);
}
ul .active {
  color: var(--highlight);
}
ul .active:hover:before {
  opacity: 0;
}

.sourceBadge {
  box-sizing: border-box;
  position: absolute;
  border-radius: 0 999px 999px 0;
  padding: 10px 15px 10px 10px;
  font-size: small;
  font-weight: 600;
  border-left: none;
}
/* .newsCard {
  border: 5px solid transparent;
} */
.newsCard:hover {
  cursor: pointer;
}
